<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>온라인 서점</title>
</head>
<body>
<h2>온라인 서점 관리자 페이지</h2>
    <!-- 로그인 여부에 따라 다른 UI 표시 -->
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <span th:text="${#authentication.principal.nickname} + ' 관리자님 환영합니다!'"></span>
        <br>
        <form th:action="@{/admin/users}">
            <button>유저 관리</button>
        </form>
        <form th:action="@{/admin/blacklist}">
            <button>블랙리스트 관리</button>
        </form>
        <form th:action="@{/logout}">
            <button>로그아웃</button>
        </form>
    </div>
</body>
</html>