<html xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <button type="button" onclick="window.location.href='/'">홈으로 가기</button>
    <form role="form" action="/users/deliveryaddressinfo/create" th:object="${deliveryAddressInfoCreateDto}"
          method="post">
        <div>
            <label th:for="addressName">별칭</label>
            <input type="text" id="addressName" th:field="*{addressName}" placeholder="별칭을 입력하세요">
            <p th:if="${#fields.hasErrors('addressName')}" th:errors="*{addressName}">Incorrect addressName</p>
            <button type="button" onclick="checkAlias()">별칭 중복 확인</button>
            <p id="aliasCheckResult"></p>
        </div>
        <div>
            <label th:for="zipcode">우편번호</label>
            <input type="text" th:field="*{zipcode}" id="zipcode" class="form-control" placeholder="우편번호를 입력하세요" readonly>
            <p th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}">Incorrect zipcode</p>
        </div>

        <div>
            <div>
                <label th:for="streetAddr">도로명 주소</label>
                <input type="text" th:field="*{streetAddr}" id="streetAddr" class="form-control"
                       placeholder="도로명 주소를 입력하세요" readonly>
                <p th:if="${#fields.hasErrors('streetAddr')}" th:errors="*{streetAddr}">Incorrect streetAddr</p>
            </div>

            <div>
                <label th:for="detailAddr">상세주소</label>
                <input type="text" th:field="*{detailAddr}" id="detailAddr" class="form-control"
                       placeholder="상세주소를 입력하세요">
                <p th:if="${#fields.hasErrors('detailAddr')}" th:errors="*{detailAddr}">Incorrect detailAddr</p>

            </div>
        </div>

        <div>
            <label th:for="etc">기타사항</label>
            <input type="text" th:field="*{etc}" id="etc" class="form-control" placeholder="기타사항 입력하세요">
            <p th:if="${#fields.hasErrors('etc')}" th:errors="*{etc}">Incorrect etc</p>
        </div>

        <br>

        <button type="submit" id="submitBtn" class="btn btn-primary" disabled>배송지 등록</button>
        <button type="button" onclick="window.location.href='/users/deliveryaddressinfo'">취소</button>
    </form>
    <br>
</div>

</body>
<!-- Daum 주소 검색 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/deliveryAddress.js"></script>
</html>