<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

<h2>마이페이지</h2>

<div th:text="'이메일:' + ${userDto.email}"></div>
<div th:text="'닉네임:' + ${userDto.nickname}"></div>
<div th:text="'전화번호:' + ${userDto.phone}"></div>
<div th:text="'등급:' + ${userDto.grade}"></div>
<div th:text="'마일리지:' + ${userDto.mileage}"></div>

<form th:action="@{/}">
    <button>홈으로 가기</button>
</form>

<form th:action="@{/users/edit}" method="post">
    <input type="hidden" name="email" th:value="${userDto.email}">
    <button type="submit">수정</button>
</form>

<form th:action="@{/users/deliveryaddressinfo}">
    <button>배송지 목록</button>
</form>

<form th:action="@{/users/carts}">
    <button>장바구니</button>
</form>

<form th:action="@{/users/orders}">
    <button>주문내역</button>
</form>

</body>
</html>