<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>온라인 서점</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2>온라인 서점 홈 화면</h2>

<div th:if="${#authorization.expression('isAuthenticated()')}">
    <span th:text="${#authentication.principal.nickname} + '님 환영합니다!'"></span>
    <form th:action="@{/users}">
        <button>마이페이지</button>
    </form>
    <form th:action="@{/logout}">
        <button>로그아웃</button>
    </form>
</div>

<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <form th:action="@{/login}">
        <button>로그인</button>
    </form>
    <form th:action="@{/join}">
        <button>회원가입</button>
    </form>
</div>

<div class="search-container">
    <input type="text" name="query" placeholder="검색어 입력">
    <button type="submit">검색</button>
</div>

<table class="book-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>표지</th>
        <th>제목</th>
        <th>작가</th>
        <th>출판사</th>
        <th>판매가격</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.inventoryId}"></td>
        <td><img th:src="${book.thumbnail}" alt="책 이미지" width="80"></td>
        <td>
            <form th:action="@{/books/product}" method="post">
                <input type="hidden" name="inventoryId" th:value="${book.inventoryId}">
                <button type="submit" class="book-title" th:text="${book.title}"></button>
            </form>
        </td>
        <td th:text="${book.authors}"></td>
        <td th:text="${book.publisher}"></td>
        <td th:text="${book.salePrice}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
