<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>회원가입</h2>
<button type="button" onclick="window.location.href='/'">홈으로 가기</button>
<div>
    <form role="form" action="/join" th:object="${joinUserDto}" method="post" onsubmit="return validatePassword();">
        <div>
            <label th:for="email">아이디(이메일)</label>
            <input type="text" id="email" th:field="*{email}" placeholder="아이디(이메일)을 입력하세요">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</p>
            <button type="button" onclick="checkEmail()">이메일 중복 확인</button>
            <button id="resetBtn" type="button" onclick="resetCheckEmail()" hidden>재설정</button>
            <p id="emailCheckResult"></p>
        </div>
        <div>
            <label th:for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" placeholder="비밀번호를 입력하세요">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</p>
        </div>
        <div>
            <label th:for="passwordConfirm">비밀번호 확인</label>
            <input type="password" id="passwordConfirm" placeholder="비밀번호를 다시 입력하세요" onkeyup="checkPasswordMatch()">
            <p id="passwordMatchMessage"></p>
        </div>
        <div>
            <label th:for="nickname">닉네임</label>
            <input type="text" th:field="*{nickname}" placeholder="닉네임을 입력하세요">
            <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Incorrect nickname</p>
        </div>
        <div>
            <label th:for="phone">전화번호</label>
            <input type="text" th:field="*{phone}" placeholder="전화번호를 입력하세요">
            <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Incorrect phone</p>
        </div>
        <div>
            <label th:for="zipcode">우편번호</label>
            <input type="text" th:field="*{zipcode}" id="zipcode" class="form-control" placeholder="우편번호를 입력하세요" readonly>
            <p th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}">Incorrect zipcode</p>
        </div>

        <div>
            <label th:for="streetAddr">도로명 주소</label>
            <input type="text" th:field="*{streetAddr}" id="streetAddr" class="form-control" placeholder="도로명 주소를 입력하세요" readonly>
            <p th:if="${#fields.hasErrors('streetAddr')}" th:errors="*{streetAddr}">Incorrect streetAddr</p>
        </div>

        <div>
            <label th:for="detailAddr">상세주소</label>
            <input type="text" th:field="*{detailAddr}" id="detailAddr" class="form-control" placeholder="상세주소를 입력하세요">
            <p th:if="${#fields.hasErrors('detailAddr')}" th:errors="*{detailAddr}">Incorrect detailAddr</p>

        </div>
        <br>
        <button type="submit" id="submitBtn" class="btn btn-primary" disabled>회원가입</button>
    </form>
    <br>
</div>
</body>

<!-- Daum 주소 검색 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/join.js"></script>
<script src="/js/deliveryAddress.js"></script>

</html>